@media screen and (max-width: 850px){
     header .container{
         display: flex;
         flex-direction: column;
         margin-left: 5px;
    }
    body{
         margin-left: 5px;
    }
}

.botao{
     margin-top: 5px;
     width: 200px;
}
